<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} --- [%15.15t] %-40.40c{1.} : %m%n%ex
        </Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="%d{yyyy-mmm-dd HH:mm:ss} [%t] %-5level -50%c{1.} - %msg %n  "/>
        </Console>

        <File name ="File" fileName="MakingListApplication">
            <PatternLayout pattern="%d{yyyy-mmm-dd HH:mm:ss} [%t] %-5level -50%c{1.} - %msg %n "/>

        </File>
    </Appenders>


    <Loggers>
        <Logger name="com.example.list" level="debug" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
        </Logger>

        <Root level="info">
            <AppenderRef ref="console" />
            <AppenderRef ref="File" />
        </Root>
    </Loggers>
</Configuration>